# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv
venv/
ENV/
env/
*.ipynb
.ipynb_checkpoints/

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
npm-debug.log*

# Temporary files
*.tmp
*.swp
*~

# Build/dist
dist/
build/


#specific files
.editorconfig
.prettierrc
